.container{
    display: flex;
    height :100vh ;
}

.left{
    flex:1 ;
    background-color:#f63939;
}
.right{
    flex : 1 ;
    background-color: #9ef31f;
}
.flex-container{
    align-items: center;
    size: 25px;
    padding  :20px ;
    margin :15px ;
    justify-content: center;
}